* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 500px) {

    #lista_desplegable {
        padding: 0;
    }

    header .title{
        margin-left: 0;
        font-size: 0.2em;
    }

    .cerr_move {
        display: none;
    }

    .lab_move {
        display: none;
    }

    .li_move {
        
        margin-bottom: 2em;
        display: flex;
        border-bottom: none;
    }
}