:root {
    --color-principal: #4E342E;
    --color-secundario: #F5E6D3;
    --color-acento: #6B8E23;
    --color-lima: #8ac572;
    --color-texto: #333333;
    --color-fondo: #FAFAFA;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
}

header {
    background-color: var(--color-principal);
    color: white;
    padding: 1rem;
}

button {
    background-color: var(--color-acento);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--color-dorado);
}

a {
    color: var(--color-principal);
}
a:hover {
    color: var(--color-acento);
}
