header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #4E342E;
}

header .title {
    display: flex;
    color: #F5E6D3;
    font-size: 2em;
    margin: 0;
    margin-left: 1em;
    text-decoration:underline;
}

header .icon{
    margin-right: 15px;
    display: flex;
    background-image: url(../img/icono.png);
    background-size: cover;
    background-position: center center;
    height: 50px;
    width: 50px;
}

#navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-header li {
    margin-right: 20px;
    justify-content: baseline;
}

.nav-header a{
    text-decoration: none;
    color: #F5E6D3;
}

#img_prin{
    background-image: url(../img/cafe_index.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
}

#cont_prin{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(
        0deg,
        
    )

}

.prin1{
    padding: 1.5em;
    margin: 1em;
    max-width: 600px;
}

.prin2{
    padding: 1.5em;
    margin: 1em;
    max-width: 600px;
}