* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/cafe_index.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
}

.registro-container {
  background-color: #F5E6D3;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 400px;
}

.form-recuperacion {
  display: flex;
  flex-direction: column;
}

.form-recuperacion h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 25px;
}

.form-recuperacion label {
  font-size: 17px;
  margin-bottom: 8px;
  color: #333333;
}

.form-recuperacion input,
.form-recuperacion select {
  padding: 15px;
  border: 1px solid #7d5a52;
  border-radius: 25px;
  margin-bottom: 20px;
  outline: none;
  font-size: 16px;
  color: #4E342E;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-recuperacion button {
  padding: 15px;
  background-color: #8ac572; 
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin-top: 20px;
}

.

@media (max-width: 991px) {
  body {
    padding: 30px;
  }

  .registro-container {
    width: 100%;
  }
}
