*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/cafe2_index.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #F5E6D3; 
}

h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #4E342E; 
    margin-bottom: 25px;
}

label, p {
    font-size: 17px;
    color: #4E342E; 
    margin-bottom: 10px;
}

input{
    padding: 17px 11px;
    border: 1px solid #7d5a52; 
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: #FAFAFA; 
    outline: none;
    color: #4E342E; 
    font-size: 17px;
}

.olvide {
    justify-content: space-between;
    display: flex;
    margin-bottom: 25px;
}

.olvide a{
    text-decoration: none;
    color: #4E342E;
}

.form-iniciar button{
    padding: 15px;
    background-color: #8ac572; 
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.form-iniciar button a{
    text-transform: none;
    text-decoration: ;
    color: #4E342E;
}


@media(max-width:991px) { 
    
    body{ 
        padding: 30px; 
    } 

    form{ 
        width: 100%; 
    } 

    .olvide{ 
    
    flex-direction: column; 
    
    } 

}










